# Server Configuration
ENVIRONMENT=development
PORT=8080

# MongoDB
MONGO_URI=mongodb://localhost:27017/songshare

# Spotify API Credentials
# Get from: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Apple Music API Credentials
# Get from: https://developer.apple.com/account/resources/authkeys/list
APPLE_MUSIC_KEY=
APPLE_MUSIC_KEY_ID=
APPLE_MUSIC_TEAM_ID=
